header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 209, 209);
  margin-bottom: 60px;
  width: 100%;
  background: white;
}

header .header-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}

header .header-container .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-container .logo img {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

header .header-container .logo h1 {
  padding: 5px 20px;
  height: 25px;
  font-size: 30px;
  font-family: "Satisfy", cursive;
  border-left: 1px solid rgb(112, 106, 106);
}

header .header-container input {
  text-align: center;
  width: 205px;
  height: 18px;
  border: 1px solid rgb(211, 209, 209);
  font-size: 12px;
  border-radius: 3px;
  color: rgb(211, 209, 209);
  background: rgb(250, 250, 250);
  padding: 5px;
}

header .header-container input:focus {
  outline: none;
  border: 2px solid rgb(179, 177, 177);
  color: rgb(49, 47, 47);
  text-align: left;
}

header .header-container .user-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding: 10px;
}

header .header-container .user-icons img {
  width: 30px;
  height: 30px;
}
